{{ define "main" }}
<h1>{{ .Page.Title }}</h1>

{{ $_title := "" }}

{{ if and (isset .Params "image") .Params.image }}
    {{ $image := .Page.Resources.GetMatch .Params.image }}
    {{ with $image }}
        {{ $thumb := .Resize "1000x" }}
        {{ printf `<img src="%s" alt="%s" class="img-responsive gallery-image">` $thumb.RelPermalink .Title | safeHTML }}

        {{/* override this so we dont repeat the featured image */}}
        {{ $_title = .Title }}

    {{end}}
{{ end }}

{{ .Content }}

{{ with .Resources.ByType "image" }}
	{{ range . }}
	<div class="Image" id="{{ .Title | urlize }}">
    {{ $subThumb := .Resize "1000x" }}

        {{/* dont render if its the featured image again */}}

        {{ if ne $_title .Title }}
            {{ printf `<img src="%s" alt="%s" class="img-responsive gallery-image">` $subThumb.RelPermalink .Title | safeHTML }}
	    {{ end }}
        
	</div>
	{{ end }}
{{ end }}

{{ template "_internal/disqus.html" . }}

{{ end }}